<div class="row">
  <div class="col-xs-4">
    <a ui-sref="main-menu" class="btn btn-default btn-block">
      Home
    </a>
  </div>
  <div class="col-xs-4">
    <div class="dropdown">
      <button class="btn btn-default btn-block dropdown-toggle" type="button" id="soundsMenu" data-toggle="dropdown">
        Sounds <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu" aria-labelledby="soundsMenu">
        <li role="presentation"><a role="menuitem"  tabindex="-1" href="#">Vowels</a></li>
        <li role="presentation"><a role="menuitem"  tabindex="-1" href="#">Diphtongs</a></li>
        <li role="presentation"><a role="menuitem"  tabindex="-1" href="#">Consonants</a></li>
      </ul>
    </div>
  </div>
  <div class="col-xs-4">
    <button type="button" class="btn btn-default btn-block">
      Tests
    </button>
  </div>
</div>

<br>
<br>
<br>
<h1 class="text-center">TESTS</h1>
<br>
<div class="row">
  <div class="col-xs-6 col-xs-offset-3">
    <a ui-sref='test-vowel' class="btn btn-default btn-block">
      Vowel TEST
    </a>
  </div>
</div>
<br>
<div class="row">
  <div class="col-xs-6 col-xs-offset-3">
    <a class="btn btn-default btn-block">
      Diphtongs TEST
    </a>
  </div>
</div>
<br>
<div class="row">
  <div class="col-xs-6 col-xs-offset-3">
    <a class="btn btn-default btn-block">
      Consonants TEST
    </a>
  </div>
</div>