<div class="row">
    <h1 class="text-center">Sounds</h1>
</div>

<br>

<div class="row">
    <div class="symbols-title col-xs-8">
        Vowels
    </div>
    <div class="col-xs-4">
        <button class="btn btn-info btn-block">MORE</button>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <table class="table table-bordered symbols-table">
            <tr>
                <td>i:</td>
                <td>I</td>
                <td>ʊ</td>
                <td>u:</td>
                <td>e</td>
                <td>ə</td>
            </tr>
            <tr>
                <td>ɜ:</td>
                <td>ɔ:</td>
                <td>æ</td>
                <td>Ʌ</td>
                <td>ɑ:</td>
                <td>ɒ</td>
            </tr>
        </table>
    </div>
</div>

<br>

<div class="row">
    <div class="symbols-title col-xs-8">
        Diphtongs
    </div>
    <div class="col-xs-4">
        <button class="btn btn-success btn-block">MORE</button>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <table class="table table-bordered symbols-table">
            <tr>
                <td>Iə</td>
                <td>eI</td>
                <td>ʊə</td>
                <td>ɔI</td>
            </tr>
            <tr>
                <td>əʊ</td>
                <td>eə</td>
                <td>aI</td>
                <td>aʊ</td>
            </tr>
        </table>
    </div>
</div>

<br>

<div class="row">
    <div class="symbols-title col-xs-8">
        Consonants
    </div>
    <div class="col-xs-4">
        <button class="btn btn-primary btn-block">MORE</button>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <table class="table table-bordered symbols-table">
            <tr>
                <td>p</td>
                <td>b</td>
                <td>t</td>
                <td>d</td>
                <td>ʧ</td>
                <td>ʤ</td>
            </tr>
            <tr>
                <td>k</td>
                <td>g</td>
                <td>f</td>
                <td>v</td>
                <td>θ</td>
                <td>ð</td>
            </tr>
            <tr>
                <td>s</td>
                <td>z</td>
                <td>ʃ</td>
                <td>ɡ</td>
                <td>m</td>
                <td>n</td>
            </tr>
            <tr>
                <td>ŋ</td>
                <td>h</td>
                <td>l</td>
                <td>r</td>
                <td>w</td>
                <td>j</td>
            </tr>
        </table>
    </div>
</div>