<div class="row">
  <div class="col-xs-2">
    <a ui-sref="tests" class="btn btn-danger">
      <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
  </div>
  <div class="col-xs-10">
    <div class="btn btn-info btn-block">Vowel TEST</div>
  </div>
</div>
<br>
<div class="row">
  <div class="col-xs-4 col-xs-offset-4">
    <div class="text-center bg-info img-circle">
      <h1 style="line-height: 77px;">1</h1>
    </div>
  </div>
</div>
<div class="row"> 
  <div class="col-xs-12">
    <p class="h1 text-center">
      success
    </p>
  </div>
</div>

<div class="row">
  <div class="col-xs-10 col-xs-offset-1">
    <div class="col-xs-4">
      <div class="text-center bg-info img-circle">
        <h1 style="line-height: 48px;" ng-click="play('www/audio/success.mp3')">A</h1>
      </div>
      <div class="text-center">
        <input type="radio" name="answer"/>
      </div>
    </div>
    <div class="col-xs-4">
      <div class="text-center bg-info img-circle">
        <h1 style="line-height: 48px;" data-audio="www/audio/suckses.mp3">B</h1>
      </div>
      <div class="text-center">
        <input type="radio" name="answer"/>
      </div>
    </div>
    <div class="col-xs-4">
      <div class="text-center bg-info img-circle">
        <h1 style="line-height: 48px;" data-audio="www/audio/sackses.mp3">C</h1>
      </div>
      <div class="text-center">
        <input type="radio" name="answer"/>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="text-center text-muted small">
    <em>Tap the letter to hear the sound<br>
    Check the button to choose an answer<br>
    Click submit</em>
  </div>
</div>

<br>
<div class="row">
  <div class="col-xs-6 col-xs-offset-3">
    <button ui-sref="test-vowel-true" type="submit" class="btn btn-primary btn-block">
      Submit
    </button>
  </div>
</div>