<div class="row">
  <div class="col-xs-2">
    <a ui-sref="tests" class="btn btn-danger">
      <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
  </div>
  <div class="col-xs-10">
    <div class="btn btn-info btn-block">Vowel TEST</div>
  </div>
</div>
<br>
<div class="row">
  <div class="col-xs-4 col-xs-offset-4">
    <div class="text-center bg-info img-circle">
      <h1 style="line-height: 77px;">{{question_number}}</h1>
    </div>
  </div>
</div>
<div class="row"> 
  <div class="col-xs-12">
    <p class="h1 text-center">
      {{media_list_name}}
    </p>
  </div>
</div>
<br>
<div class="row">
  <div class="col-xs-12">
    <form name="form">
      <div class="col-xs-4" ng-repeat="media in media_list">
        <label class="text-center" style="width: 100%;">
          <div class="bg-primary btn-xl-circle">
            <p style="margin: 0;" ng-click="playAt($index)">{{nextChar("A", $index)}}</p>
          </div>
          <input type="radio" ng-model="$parent.current_answer" value="{{media_list[$index]}}" required/>          
        </label>
      </div>
    </form>
</div>
<br>
<div class="row">
  <div class="text-center text-muted small">
    <em>Tap the letter to hear the sound<br>
    Check the button to choose an answer<br>
    Click submit</em>
  </div>
</div>

<br>
<div class="row">
  <div class="col-xs-6 col-xs-offset-3">
    <button type="submit" class="btn btn-primary btn-block" ng-click="nextQuestion()" ng-disabled="form.$invalid">
      Check Answer
    </button>
  </div>
</div>