* {
  -webkit-tap-hightlight-color: rgba(0,0,0,0);
  -webkit-tap-hightlight-color: transparent;
}

.app-title {
    text-align: center;
    font-size: 30px;
    margin: 0;
    padding: 0;
}

.app-title > a {
/*    background: lightgray;*/
    display: block;
    height: 480px;
    padding-top: 180px;
}

.main-menu {
    margin-top: 180px;
}

.symbols-table {
    font-size: 36px;
    margin-top: 5px;
}

.symbols-title {
    padding-top: 5px;
}

.btn-xl-circle {
  font-size: 300%;
  line-height: 1;
  border-radius: 50%;
  padding: 19% 0;
}

.event {
    border-radius:4px;
    -webkit-border-radius:4px;
    color:#FFFFFF;
    font-size:24px;
    margin:0px 30px;
    padding:2px 0px;
}

.event.listening {
    background-color:#333333;
    display:block;
}

.event.received {
    background-color:#4B946A;
    display:none;
}

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}
